*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-image: url('/static/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background: rgb(0, 0, 0);
    padding-top: 3px;
    width: 100%;
    text-align:left;
}

header > a > img{
    max-width: 100%;
    width: 35px;
    position: absolute;
    top: 7px;
    left: 280px;
}

header .main_link{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 5px;
}

nav {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: rgb(0, 0, 0);
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav ul li {
    line-height: 30px;
    float: right;
}

nav ul li a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(124, 122, 122);
    transition: all 400ms;
}

nav ul li a:hover {
    color: white;
    
}

.message{
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: rgb(2, 184, 87);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 10px 20px gray;
}

.box{
    display: flex;
    width: 100%;
    color: rgb(42, 41, 41);
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.card{
    background: transparent;
    backdrop-filter: blur(10px);
    width: 400px;
    height: 330px;
    border: 1px solid #9d9c9c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
}

.card h1{
    text-align: center;
    padding: 10px;
}

.card p{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 30px 0px;
}

.card .about{
    font-size: 27px;
    font-weight: lighter;
}

.card .about_info{
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

.card a{
    text-decoration: none;
    width: 180px;
    padding: 10px;
}

.card .btn{
    width: 180px;
    height: 35px;
    text-align: center;
    background: black;
    color: white;
    font-size: 18px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    border: 1px solid rgb(217, 214, 214);
    margin: 10px 0px;
    border-radius: 5px;
    transition: all 400ms;
}

.card .btn:hover{
    background: white;
    color: black;
    border: 1px solid rgb(147, 147, 147);
    cursor: pointer;
}

form label,
form input[type="checkbox"],
form select{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}


footer{
    background: black;
    color: rgb(217, 214, 214);
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
}

